# git ignore file for project Engine (gfxRenderEngine)
bin
obj
Makefile
vendor/sfml/build
vendor/atlas/SpriteSheetGenerator.make
vendor/atlas/sheets/sheet.png
imgui.ini
resources/sdl/internalDB.txt
gfxRenderEngine.sln
engine.make
engine.vcxproj
engine.vcxproj.user
engine.vcxproj.filters
glfw3.vcxproj
glfw3.vcxproj.filters
glfw3.make
vendor/atlas/SpriteSheetGenerator.vcxproj
vendor/atlas/SpriteSheetGenerator.vcxproj.user
.vs/
 
 
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
