# git ignore file for project Engine (gfxRenderEngine)
bin
obj
Makefile
engine.make
vendor/glew/glew.pc
vendor/glew/lib/
vendor/sfml/build
vendor/atlas/SpriteSheetGenerator.make
vendor/atlas/sheets/sheet.png
imgui.ini

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
