# git ignore file for project Engine (gfxRenderEngine)
bin
obj
Makefile
build
vendor/atlas/sheets/sheet.png
imgui.ini
internalDB.txt
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.make
.vs/
engine.cfg
resources/linuxEmbeddedResources.cpp
resources/linuxEmbeddedResources.h
 
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
