[Desktop Entry]
Version=0.2.2
Name=engine
GenericName=engine
Comment=graphics render engine (gfxRenderEngine)
Exec=/usr/bin/engine
Icon=/usr/share/icons/engine.ico
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;
