
#include "windowsEmbeddedResources.h"

// PNG
IDB_ATLAS                PNG                     "resources\\atlas\\atlas.png"
IDB_FONTS_RETRO          PNG                     "resources\\atlas\\fontAtlas.png"

