
#include "windowsEmbeddedResources.h"

// PNG
IDB_ATLAS                PNG                     "resources\\atlas\\atlas.png"
IDB_FONTS_RETRO          PNG                     "resources\\atlas\\fontAtlas.png"
IDB_CURSOR_RETRO         PNG                     "resources\\images\\cursor.png"
IDB_ENGINE_LOGO          PNG                     "resources\\atlas\\images\\I_ENGINE.png"
IDB_TILEMAP              PNG                     "application\\appResources\\urban\\tilemap\\tilemap.png"
IDB_SPLASH               PNG                     "resources\\splashscreen\\splash_spritesheet.png"
IDB_FIREWORKS            PNG                     "resources\\splashscreen\\splash_fireworks.png"
IDR_VERTEX_SHADER        TEXT                    "engine\\shader\\vertexShader.vert"
IDR_FRAGMENT_SHADER      TEXT                    "engine\\shader\\fragmentShader.frag"
IDR_SD_LCTRL_DB          TEXT                    "resources\\sdl\\gamecontrollerdb.txt"

